.footer-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  padding: 3px 10px;
}
.active-footer-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #008069;
    color: #fff;
}
.footer-icon-text{
    font-size: 9px;
}