// === light theme color variables
$light-bgColor:"#b8dcd6";
$light-bgColorLight:"#b8dcd6";
$light-bgButtonsColor:"#008069";
$light-bgButtonColorLight:"#b8dcd6";
$light-textButtonColor:"#fff";
$light-textColor:"#000";

// === dark theme color variables
$dark-bgColor:"#333435";
$dark-bgColorLight:"#333435";
$dark-bgButtonsColor:"#008069";
$dark-bgButtonColorLight:"#3b4a54";
$dark-textButtonColor:"#000";
$dark-textColor:"#fff"